################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ProblemSolving/Interview/Amazon/IMG-6326.JPG
/ProblemSolving/Interview/Amazon/IMG-6325.JPG
/ProblemSolving/Interview/Amazon/IMG-6324.JPG
/ProblemSolving/Interview/Amazon/IMG-6323.JPG
/ProblemSolving/Interview/Amazon/IMG-6322.JPG
/ProblemSolving/Interview/Amazon/IMG-6321.JPG
/ProblemSolving/Interview/Amazon/IMG-6320.JPG
