################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/ProblemSolving/Interview/Amazon/IMG-6326.JPG
